/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */

/*   ----- Imports  -----  */
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lato:ital,wght@0,900;1,700;1,900&family=Roboto:ital,wght@1,900&display=swap');
@import '../node_modules/modern-normalize/modern-normalize.css';
        
/*   ----- Variables  -----  */
:root {
  --headerFooterBackground: #023453;
}
*{
  margin: 0;
  padding: 0;
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {       /* Can alternatively define in html {} or :root {} */
  color: rgb(48, 204, 126);
  background-color: rgb(78, 78, 78);
  font-family: 'Lato';
  font-size: 1.5em;
  margin: 0 auto 0 auto;
  text-align: center;
  padding: .1%;
}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
  display: flex;
  gap: 5%;
  justify-content: center;  
}
nav a {
  background-color: rgb(0, 2, 93);
  color:  rgb(27, 236, 13);
  border: 2px solid  rgb(27, 236, 13);
  font-size: 1.2em;
  text-decoration: none;  
  padding: 3%;
  border-radius: 10%;
}

nav a:hover{
  color:  rgb(248, 10, 10);
}

/*  ----- Page layout blocks -----  */
header {
  background-color:var(--headerFooterBackground);
  border-bottom: 3px solid black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}
header .slogan{
  font-size: .5em;
}

main {
  background-color: rgb(186, 171, 227);
  color:rgb(28, 14, 179);
  padding: 1em;
}

footer { 
  padding: 1em 0;
  background-color:var(--headerFooterBackground);
  border-bottom: 1px solid white;
  padding: 10px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

/*  -----  Typography  ----- */
p {
  padding: 1em 0;
}
h2 { padding: 1em 0}

/*  ----- Table ----- */
table {
   /* remove double borders on table */
  border-collapse: collapse;
  margin: auto;
  width: 80%;
  line-height: 2em;
}
caption {
  font-weight: 700;
}
tr, th, td {
  padding: 10px;
}

tr {
  border: 1px solid black;

}
th {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
td {
  border: 1px solid black;
}
/*  ----- Form ----- */
form {
  padding: 1em 0;
}
fieldset {
  border: none;
}
  legend {
    padding: 1em 0;
  }
  input {
    padding: 10px;
    font: bold;
  }
 
/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.homePage{
  height: 55.8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.zipSearchContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
}
.searchZipButton{
  background-color: #3EB2FD;
  border-radius: 100px;
  border-width: 0;
  color: #FFFFFF;
  cursor: pointer;    
  font-size: 1rem;
  line-height: 1.5;
  padding: 6px 20px;
  text-align: center;
  user-select: none;
}
.updateQuantityContainer{  
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-evenly;
}
.updateQuantButton:hover{
  color: rgb(135, 227, 129);
  cursor: pointer;
}

.tableNameItem{
  text-align: start;
}


@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}